# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db

# App-specific
example.txt
dump.rdb

# other
TODO.txt
